
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding-top: 160px;
            padding-bottom:160px;
           
        }

        h1 {
            color: #ff5733;
            font-size: 4rem;
        }

        p {
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>404 Not Found !</h1>
        <p>We're sorry, the page you're looking for could not be found.</p>
    </div>
</body>
</html>

