﻿@{
    var errorMessage = TempData["ErrorMessage"] as string;
}


@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger custom-error-message">
        <h1>Error Message:</h1><h1 style="margin-left:25px; color:#D10024;">@errorMessage.ToUpper()</h1>
    </div>

}


<style>
    .custom-error-message{
        
        color: #D10024;
        border: 5px solid #D10024;
        border-radius: 16px;
        padding: 10px;
        font-weight: bold;
        width: 80%;
        margin: 100px auto;
        display: flex;
        align-items: center;
        height: 150px;
        background-color: grey;
        margin-top: 100px;
    }
</style>