@using E_Commerce_Platform.ViewModels.User;
@model UserLoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .Login-container {
            width: 40%;
            height: 370px;
            border: 5px solid rgb(197, 0, 0);
            border-radius: 16px;
            background-color: black;
            margin: 50px auto;
        }

            .Login-container .Login-row {
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 25px;
            }

                .Login-container .Login-row .Login-title {
                    width: 100%;
                    height: 60px;
                   
                   
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .Login-container .Login-row .Login-title h1{
                        color:white;
                    }

                .Login-container .Login-row #Login-form {
                    height: 240px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                    .Login-container .Login-row #Login-form .Form-group{
                        height: 150px;
                        width: 100%;
                       
                    }
                       

                        .Login-container .Login-row #Login-form .Form-group label {
                            color: rgb(197, 0, 0);
                            width:100%;
                            height:30%;
                            font-size: 20px;
                            font-weight: bold;
                            
                        }

                    .Login-container .Login-row #Login-form .button-group {
                        width: 100%;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                        .Login-container .Login-row #Login-form .button-group button {
                            width: 49%;
                            height: 90%;
                            border-radius: 10px;
                        }

                        .Login-container .Login-row #Login-form .button-group #submit {
                            background-color: green;
                            font-size: 22px;
                            font-weight: bold;
                            font-family: 'Times New Roman', Times, serif;
                            color: white;
                        }

                            .Login-container .Login-row #Login-form .button-group #submit:hover {
                                background-color: rgb(11, 207, 11);
                                cursor: pointer;
                            }

                        .Login-container .Login-row #Login-form .button-group #back:hover {
                            background-color: rgb(238, 61, 61);
                            cursor: pointer;
                        }

                        .Login-container .Login-row #Login-form .button-group #back {
                            background-color: rgb(197, 0, 0);
                            font-size: 22px;
                            font-weight: bold;
                            font-family: 'Times New Roman', Times, serif;
                            color: white;
                        }

                    .Login-container .Login-row #Login-form .Form-group input {
                        width:100%;
                        height: 50%;
                        margin-top:25px;
                        border: 5px solid rgb(197, 0, 0);
                        border-radius: 6px;
                        font-size: 20px;
                        color: black;
                    }

                    .Login-container .Login-row #Login-form .Form-group span{
                        height:20%;
                    }
                    
    </style>
</head>
<body>

    <main>
        <div class="Login-container">
            <div class="Login-row">
                <div class="Login-title">
                    <h1>Login Form</h1>
                </div>

                <form id="Login-form" method="post" asp-controller="Auth" asp-action="Login">
                   
                    <div class="Form-group">
                        <label asp-for="MembershipPassword">Dear user, please enter your membership password:</label>
                        <input placeholder="please enter your password..." type="password" name="MembershipPassword" asp-for="MembershipPassword" id="MembershipPassword">
                        <span asp-validation-for="MembershipPassword" class="text-danger"></span>
                    </div>

                    <div class="button-group">
                        <button type="button" id="submit">Back</button>
                        <button type="submit" id="back">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

</body>
</html>